.why-choose {
  padding: 30px 5%;
  background: #ffffff;
}

.why-header {
  text-align: center;
  margin-bottom: 20px;
}

.why-header h2 {
  font-size: 32px;
  color: #002b5c;
  margin-bottom: 15px;
}

.why-header p {
  max-width: 700px;
  margin: auto;
  color: #666;
  line-height: 1.8;
}

.why-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 25px;
}

.why-card {
  background: white;

  padding: 20px;

  border-radius: 18px;

  text-align: center;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.08);

  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 10px 30px rgba(0,0,0,0.12);
}

.why-icon {
  width: 50px;
  height: 50px;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #eaf4ff;

  color: #0077cc;

  font-size: 20px;

  margin-bottom: 12px;
}

.why-card h3 {
  color: #002b5c;
  font-size: 18px;
  margin-bottom: 8px;
}

.why-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 768px) {

  .why-choose {
    padding: 40px 20px;
  }

  .why-header {
    margin-bottom: 20px;
  }

  .why-header h2 {
    font-size: 26px;
  }

  .why-grid {
    grid-template-columns: repeat(2, 1fr);

    gap: 12px;
  }

  .why-card {
    padding: 15px;
  }

  .why-icon {
    width: 42px;
    height: 42px;

    font-size: 18px;
  }

  .why-card h3 {
    font-size: 14px;
  }

  .why-card p {
    font-size: 11px;

    line-height: 1.4;
  }

}

.why-footer {
text-align: center;
margin-top: 20px;
}

.read-more-btn {
display: inline-block;
padding: 10px 24px;
background: #0a2f66;
color: #fff;
text-decoration: none;
border-radius: 5px;
font-weight: 600;
transition: 0.3s ease;
}

.read-more-btn:hover {
background: #144a99;
}
