.category-showcase {
  padding: 50px 5%;

  background: #f8fbff;
}

.category-header {
  text-align: center;

  margin-bottom: 30px;
}

.category-header h2 {
  font-size: 32px;

  color: #002b5c;

  margin-bottom: 10px;
}

.category-header p {
  color: #666;
}

.category-grid {

  display: grid;

  grid-template-columns:
    repeat(5, 1fr);

  gap: 15px;
}

.category-card {

  background: white;

  border-radius: 14px;

  padding: 18px 12px;

  text-align: center;

  text-decoration: none;

  box-shadow:
    0 3px 12px rgba(0,0,0,0.08);

  transition: 0.3s ease;
}

.category-card:hover {
  transform: translateY(-6px);

  box-shadow:
    0 10px 25px rgba(0,0,0,0.12);
}

.category-icon {

  width: 48px;

  height: 48px;

  font-size: 20px;

  margin-bottom: 10px;
}

.category-card h3 {

  color: #002b5c;

  font-size: 15px;

  margin: 0;
}

@media (max-width: 768px) {

  .category-showcase {
    padding: 40px 20px;
  }

  .category-header h2 {
    font-size: 26px;
  }

  .category-grid {
    grid-template-columns:
      repeat(2, 1fr);

    gap: 12px;
  }

  .category-card {
    padding: 8px;

    border-radius: 70px;

    min-height: 70px;
  }


  .category-icon {
    width: 50px;
    height: 50px;

    font-size: 22px;
  }

  .category-card h3 {
    font-size: 14px;
  }

}